PORT=3000
NODE_ENV=production

# Proxy list — format: host:port:user:pass (satu per baris, pisah koma)
PROXIES=9.142.198.249:5916:Dmdigital5698:Dmdigital5698

# Secret untuk panel (ganti ini!)
PANEL_PASSWORD=changeme123

# Max concurrent browsers (sesuaikan RAM — 2GB = max 3)
MAX_CONCURRENT=3
